version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: odontologia
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"

  backend:
    image: node:18
    working_dir: /app
    volumes:
      - ./backend:/app
    command: npm run dev
    ports:
      - "3333:3333"
    depends_on:
      - postgres
